/*
table, th, td {
    border: 1px groove black
}
*/

body {
    background-color: rgb(18,18,18);
}

th, td {
    text-align: center;
    padding: 5px;
}

tr {
    border-bottom: 1px solid rgb(18,18,18);
  }

tr:hover {background-color: #D6EEEE;}